aiohttp==3.0.9
async-timeout==2.0.1
attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
cryptography==1.7.1
idna==2.6
idna-ssl==1.0.1
keyring==10.1
keyrings.alt==1.3
multidict==4.1.0
pifacecommon==4.1.2
pifacedigitalio==3.0.5
pyasn1==0.1.9
pycrypto==2.6.1
pygobject==3.22.0
python-dotenv==0.8.2
pyxdg==0.25
PyYAML==3.12
requests==2.18.4
SecretStorage==2.3.1
six==1.10.0
urllib3==1.22
yarl==1.1.1
